body {
    text-align: center;
    background-color: black;
    background-image: url("interface/repeat.png");
    background-repeat: repeat;
}

a {
    color: whitesmoke;   
}

footer {
    color: white;
}

.navBtn {
    width: 6%;
    height: auto;
}

.svBtn {
    width: 5%;
    height: auto;
}

.digit {
    width: 6%;
    height: auto;
}

#logo {
    width: 30%;
    height: auto;
}